body {
  background-color: #282c34;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  font-size: large;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: calc(0.4em + 0.4vw);
  white-space: nowrap;
  text-overflow: ellipsis;
}


h1{
  color:#f1f1f1;
  font-weight: 100;
  font-size: 30px !important;
  padding: 1px;
}
h1,th,td{
  filter: drop-shadow(0.5px 0.5px 0.5px grey);
}

.App {
  text-align: center;
  overflow: hidden;
}

.heading{
  padding: 1%;
  color:whitesmoke;
  font-family: cursive;
  background-color: black;
  border-bottom: 1px solid grey;
}
.corona{
  width:10%;
  margin: auto 10px;
}
.search {
  margin: 2% 20%;
}



.covid-card {
  /* background-color: #1a1816; */
  /* background-color: #3b3939; */
  background-color: #1b1a1a;
  border-radius: 10px;
  margin:30px 10px;
  border-bottom: 0.1px solid grey;
}

.covid-card:hover{
  cursor: pointer;
  /* filter: drop-shadow(1px 1px 10px #1244ff); */
  filter: drop-shadow(1px 1px 10px #ffcaca);
}

.glow:hover{
  cursor: pointer;
  /* filter: drop-shadow(1px 1px 10px #1244ff); */
  filter: drop-shadow(1px 1px 20px #feffb2);
}
.glow-blue:hover{
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px #1244ff);
  /* filter: drop-shadow(1px 1px 10px #e0e0e0); */
}

.bigger:hover{
  padding: 0%;
}

.country-card{
  /* background-color: #61dafb; */
  margin-top: 30px;
  margin-bottom: 30px;
}


.data-table{
  font-size: larger;
}

table th{
  font-weight: 400;
}

.strip{
  background-color: #3b3939;
  padding: 0%;
}


.flag-strip {
  width: 40px;
  padding: 5px;
  filter: drop-shadow(2px 2px 4px grey);
}
.flag-strip:hover {
  padding: 0%;
  filter: drop-shadow(2px 2px 4px rgb(10, 123, 253));
  cursor: pointer;
}
.flag-img {
  width: 64px;
  filter: drop-shadow(2px 2px 4px grey);
  margin-right: 20px;
}
.pie-chart{
  /* background-color: #009ac550; */
  filter: drop-shadow(8px 8px 10px grey);

}
.bar-chart{
/* background-color: rgba(44, 32, 42, 0.226); */
/* filter: drop-shadow(8px 8px 10px grey); */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}